.app-container {
  min-height: 100vh;
  background-color: var(--color-gray-50);
  display: flex;
  flex-direction: column;
}

.app-main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-main-content {
  flex: 1;
  overflow-y: auto;
}

.app-main-content-wrapper {
  padding: 2rem;
}

.app-not-found {
  text-align: center;
  padding: 5rem 0;
}

.app-not-found-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-tomato);
}

