.login-container {
  min-height: 100vh;
  display: flex;
}

.login-left {
  display: none;
}

.login-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem;
}

.login-form-wrapper {
  width: 100%;
  max-width: 28rem;
}

/* Desktop styles */
@media (min-width: 1024px) {
  .login-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--color-gray-50);
  }

  .login-right {
    width: 50%;
  }
}

.login-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logo {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}

