.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: clamp(2vw,24px); /* Responsive font size */
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Corrected minmax value and added auto-fill */
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}